body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
div.home {
    background-color: whitesmoke;
    text-align: center;
}
button.dashboardButton {
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 50px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    top: 50%;
    height: 100%;
}

a.dashboardLink {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    position: relative;
}
img.icon {
    position: relative;
    width: 10%;     
    /*width: 10%;
    height: 10%;*/
}
